extends ../layout
block content
    .container
        .row
            each cat in categories
                .panel.panel-default
                    .panel-heading
                        h3
                            a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
                    .panel-body
                        if cat.movies &&cat.movies.length>0
                            each item in cat.movies
                                .col-md-2
                                    .thumbnail
                                        a(href='/movie/#{item._id}')
                                            if  item.poster.indexOf('http') >-1
                                                img(src="#{item.poster}",alt="#{item.title}",onerror="this.onerror=null;this.src='/img/img_error.png'")
                                            else
                                                if item.poster
                                                    img(src="/upload/#{item.poster}",alt="#{item.title}",onerror="this.onerror=null;this.src='/img/img_error.png'")
                                                else
                                                    img(src="/img/img_error.png",alt="#{item.title}")
                                        .caption
                                            h3.autocut  #{item.title}
                                            p: a.btn.btn-primary(href='/movie/#{item._id}',role='button')   观看预告片




//
    pug和jade使用 #{} 的不同
    使用加入使用的模版引擎是pug时，在img中src属性就
    不能是img(src="#{item.poster}",alt="#{item.title}")
    而应该是这样img(src="item.poster",alt="item.title")这样才能将item.title读取出来