extends ../layout
block content
    .container
        .row
            each cat in categories
                .panel.panel-default
                    .panel-heading
                        h3  #{cat.name}
                            if cat.movies && cat.movies.length>=4
                                a(href='/results?cat=#{cat._id}&page=0').pull-right   MORE >>
                    .panel-body
                        if cat.movies &&cat.movies.length>0
                            each item in cat.movies
                                .col-md-3
                                    +movieItemTemplate(item)
                        else
                            +noDataShow
    include ../includes/template/item_movie_template




//
    pug和jade使用 #{} 的不同
    使用加入使用的模版引擎是pug时，在img中src属性就
    不能是img(src="#{item.poster}",alt="#{item.title}")
    而应该是这样img(src="item.poster",alt="item.title")这样才能将item.title读取出来